<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AudioSwitcher.AudioApi" publicKeyToken="fda5729e2db3a64f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.151" newVersion="2.2.2.151" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>